.container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1.5rem;
}


.parent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background: white;
  box-shadow: var(--card-shadow);
  border-radius: 50%;
  overflow: hidden;
}


.parent[data-isOpen="true"] {
  width: 100%;
  height: 480px;
  padding: 1.5rem;
  border-radius: var(--content-radius);
  /* background-color: white; */
  /* box-shadow: var(--card-shadow); */
  box-shadow: none;
}

.child {
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.4rem;
  padding-top: 0.6rem;
  border-radius: 50%;
  background: #efe9de;
}

.parent[data-isOpen="true"] .child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.4rem;
  padding-top: 0.6rem;
  border-radius: 50%;
  background: white;
}


.child img {
  width: 100%;
}



.contentBox {
  width: 100%;
  height: 100%;
  display: none;
}

.parent[data-isOpen="true"] .contentBox {
  display:flex;
}

.contentLeft {
  width: 40%;
  height: 100%;
  margin-right: 24px;
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 12px 0;
}

.validBox {
  font-size: 16px;
}


.actionButton {
  position: absolute;
  left: -4rem;
  bottom: 1.5rem;
}

.contentRight {
  width: 60%;
  height: 100%;
  /* border-radius: 0 12px 12px 0; */
  overflow: hidden;
}

.contentRight img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 720px) {
  .parent[data-isOpen="true"]{
    height: fit-content;
    padding: 0;
  }
  .contentBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }
  .contentRight {
    width: 100%;
    margin-right: 0;
    height: 240px;
  }
  .contentLeft {
    width: 100%;
    margin-right: 0;
  }

  .actionButton {
    bottom: 1rem;
  }

  .parent[data-isOpen="true"] .child {
    right: -1rem;
    bottom: -1rem;
  }
  
}

