@import '@/styles/variables.scss';

.card-01 {
  margin: 0 auto 24px;
  // width: 315px;
  border: 3px solid #B99755;
  border-radius: 5px;

  .button {
    margin-left: auto;
    background-color: #222222;
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
  }


  @media screen and (min-width: 450px) {
    // width: 375px;
    // height: 422px;
  }

  p {
    @include font-small;
  }

  span {
    @include font-small;
    text-align: start;
  }
}