.teamsPage {
    margin: auto;
    color: #B99755;
}

.teamsNotice {
    padding-right: 24px;
}

.formCheck a {
    color: #FFF
}

.teamsNotice ol {
    list-style-type: decimal;
    padding-top: 24px;
    padding-left: 40px;
}

.teamsNotice ol li {
    list-style-type: inherit;
    /* line-height: 2; */
    padding: 0 0 12px;
}

.pageTitle {
    text-align: center;
    padding: 36px 0;
}

.secTitle{
    text-align: center;
    padding: 24px 0;
}

.borderbox {
    padding: 24px 16px;
    border: 3px solid #B99755;
    border-radius: 10px;
    background-color: #222222;
    color: #B99755;
}

.tourInfo {
    padding: 16px 0;

}

.teamsSection {
    padding: 30px 12px;
    line-height: 2;
}

.teamUnite {
    display: inline-grid;
    padding: 6px 20px;
}

.teamCard {
    border: 1px solid #B99755;
    background-color: #FFF;
}

.teamTourInfo {
    display: inline-block;
    margin: -40px 0 0 10px;
    padding: 16px;
    background-color: #000;
}

.bb {
    margin: 24px auto 24px;
    width: 150px;
    border-bottom: #B99755 dashed 1px;
}

.teamlistblock {
    padding: 0 12px 0px;

}

.teamlistblock1 {
    border-right: #B99755 1px dashed;
}

@media (max-width: 992px) {
    .teamlistblock1 {
        border-right: none;
    }

    .bb2 {
        margin: 24px auto 24px;
        width: 150px;
        border-bottom: #B99755 dashed 1px;
    }
}

.preteamcard{
    border:#B99755 1px dashed;
    border-radius: 10px;
    margin:5px 10px;
    width:46%;
    padding: 12px 18px;
}

@media (max-width:992px){
.preteamcard{
    width:98%;
}
}

.teamPaTitle{
    text-align: center;
    padding: 12px 0;

}
.titleBL{
    border-bottom: #B99755 3px solid;
    width:150px;
    height: 12px;
    margin: 0 auto 24px;
}

.titleLink a{
    color: #b99755;;
}

.teamForm .sty input{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12rem;
    font-family: "Noto Serif JP", "serif";
    position: relative;
    height: 40px;
    padding: 0.5rem 1rem;
    color: #B99755 !important;
    background: #222222;
    border-radius: 10px;
    border: 2px solid #B99755;
    transition: all 200ms;
}

.teamForm textarea{
    letter-spacing: 0.12rem;
    font-family: "Noto Serif JP", "serif";
    padding: 0.5rem 1rem;
    color: #B99755 !important;
    background: #222222;
    border-radius: 10px;
    border: 2px solid #B99755;
    transition: all 200ms;
}

.chatlist{
    padding-bottom: 12px;
}

.teamTable {
    width: 100%;
}

.teamTitle {
    text-align: center;
    padding: 6px;
}

.teamTitle a{
    color:#B99755;
}

.teamContent {
    padding: 26px;
}

.diffeasy {
    color: #FFFFFF;
    background-color: #63AA90;
}

.diffmedium {
    color: #FFFFFF;
    background-color: #B99755;
}

.diffhard {
    color: #FFFFFF;
    background-color: #A43131;
}

.MuiAccordionActions-spacing {
    background: none;
}

.avatarImg {
    width: 24px;
    height: 24px;
}

.buttonBrown {
    margin-left: auto;
    background-color: #B99755;
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
}

.teamButton {
    border: 1px solid black;
    font-family: Noto Serif JP;
    font-size: 16px;
    border-radius: 30px;
    background-color: #B99755;
    color: black;
    padding: 10px 30px;
    box-Shadow: none;
    margin:12px auto;
}

.teamButton:hover {
    background-color: white;
    color: #B99755;
    box-shadow: none;
}

.noDataInfo{
    text-align: center;
    padding-bottom:36px;
}