/* checkout success page components styles */

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 48px 0;
}

.titleStyles {
  text-align: center;
  margin-bottom: 7rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  max-width: 640px;
  height: auto;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--content-radius);
  background-color: white;
  box-shadow: var(--card-shadow);
}

.ghostImg {
  align-self: center;
  width: 12rem;
  margin-left: 2.5rem;
  margin-top: -6rem;
  z-index: 1;
}

.btnStack {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .sectionContainer {
    padding: 32px 20px;
  }

  .titleStyles {
    font-size: 1.75rem;
    margin-bottom: 3rem;
  }

  .contentContainer {
    width: 100%;
  }
  .ghostImg {
    width: 7rem;
    margin-top: -3rem;
  }

}