.teamsPage {
    margin: auto;
    color: #B99755;
}

.teamsNotice{
    padding-right:24px;
}

.formCheck a{
    color:#FFF
}

.teamsNotice ol {
    list-style-type: decimal;
    padding-top:24px;
    padding-left: 40px;
}
.teamsNotice ol li {
    list-style-type: inherit;
    /* line-height: 2; */
    padding:0 0 12px;
}

.pageTitle {
    text-align: center;
    padding: 36px 0;
}

.borderbox {
    padding: 24px 16px;
    border: 3px solid #B99755;
    border-radius: 10px;
    background-color: #222222;
    color: #B99755;
}

.tourInfo {
    padding: 16px 0;

}

.teamsSection {
    padding: 30px 12px;
    line-height: 2;
}

.teamUnite {
    display: inline-grid;
    padding: 6px 20px;
}

.teamCard {
    border: 1px solid #B99755;
    background-color: #FFF;
}

.teamTourInfo {
    display: inline-block;
    margin: -40px 0 0 10px;
    padding: 16px;
    background-color: #000;
}

.bb {
    margin: 24px auto 24px;
    width: 150px;
    border-bottom: #B99755 dashed 1px;
}

.teamlistblock {
    padding: 0 12px 0px;

}

.teamlistblock1 {
    border-right: #B99755 1px dashed;
}

@media (max-width: 992px) {
    .teamlistblock1 {
        border-right: none;
    }

    .bb2 {
        margin: 24px auto 24px;
        width: 150px;
        border-bottom: #B99755 dashed 1px;
    }
}

.teamTable {
    width: 100%;
}

.teamTitle {
    text-align: center;
    padding: 6px;
}

.teamContent {
    padding: 26px;
}

.diffeasy {
    color: #FFFFFF;
    background-color: #63AA90;
}

.diffmedium {
    color: #FFFFFF;
    background-color: #B99755;
}

.diffhard {
    color: #FFFFFF;
    background-color: #A43131;
}

.MuiAccordionActions-spacing {
    background: none;
}

.avatarImg {
    width: 24px;
    height: 24px;
}

.buttonBrown {
    margin-left: auto;
    background-color: #B99755;
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
}