.sectionContainer {
  width: 100%;
  min-height: 640px;
}

.taiwanInvoice {
  width: 80mm;
  margin: 0 auto;
  padding: 1.875rem;
  border: 1px solid var(--pri-3);
  background-color: white;
}

.invoiceHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.invoiceHeader img {
  height: 2.375rem;
  margin-bottom: 6px;
}


.invoiceTitle {
  font-size: 22px;
  font-weight: bold;
}

.invoiceSubTitle {
  font-size: 20px;
  font-weight: bold;

}

.invoiceInfo {
  margin-bottom: 8px;
}

.row{
  display: flex;
  justify-content: space-between;
}

.qrcodeBox {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 12px;
}

.btnStack {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 48px;
}
@media print {
  .taiwanInvoice,
  .taiwanInvoice * {
    visibility: visible;
  }

  .taiwanInvoice {
    position: absolute;
    left: 0;
    top: 0;
  }
}