.h2Style {
  text-align: center;
  padding: 2rem 0;
}

.sectionContainer {
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
}

.contentContainer {
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
  border-radius: var(--content-radius);
  background-color: white;
  box-shadow: var(--card-shadow);
}

.contentContainer h5 {
  margin-bottom: 2rem;
  flex-basis: 1
}

.checkoutLeft {
  width: 50%;
  padding: var(--content-padding);
}

.checkoutRight {
  width: 50%;
  padding: var(--content-padding);
  position: relative;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.btnStyle {
  position: absolute;
  right: var(--content-padding);
  bottom: var(--content-padding);
}

.checkoutRightMain {
  flex-direction: column;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6rem;
}

@media screen and (max-width: 1120px) {
  .contentContainer {
    flex-direction: column;
  }

  .checkoutLeft,
  .checkoutRight {
    width: 100%;
  }

  .checkoutRightMain {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .checkoutLeft {
    padding: 1.5rem;
  }
  
  .checkoutRight {
    padding: 1.5rem;
  }

  .h2Style {
    font-size: 1.75rem;
    padding: 1.5rem 0;
  }

  .contentContainer h5 {
    font-size: 1.375rem;
  }
  
}